* {
  --pink-col: #eae2de;
  --green-col: #afac99;
  --grey-col: #ebebeb;
}

.product_splash {
  background-image: url(images/splash_single.webp);
  width: 100%;
  height: 400px;
  text-align: center;
}

.product_splash .splash_title1 {
  font-size: 3rem;
  font-family: linotype-didot, serif;
  font-weight: 400;
  font-style: italic;
  position: relative;
  margin: 100px auto auto;
}

.nav-single {
  margin-block: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 80%;
  margin-inline: auto;
}

.nav-single h4 {
  border-bottom: 1px solid #000;
  display: inline-block;
}

.nav-single button {
  background-color: transparent;
  border: none;
  font-family: minion-pro, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  margin-block: 5px;
  text-transform: uppercase;
}

.nav-single button:hover {
  cursor: pointer;
  color: var(--green-col);
  text-decoration: underline var(--green-col) solid 1px;
  text-underline-offset: 5px;
}

.valgt {
  color: var(--green-col);
  text-decoration: underline var(--green-col) solid 1px;
  text-underline-offset: 5px;
}

main #filter {
  text-align: left;
}

.header1 {
  font-size: 1.6rem;
  margin-inline-start: 25px;
  padding: 5px 10px;
  border-bottom: 1px solid #000;
}

.nav-single .alle_varer {
  font-family: linotype-didot, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
  margin-top: 0;
}

nav p {
  padding-bottom: 5px;
}

.info_box {
  background-color: var(--green-col);
}

.info_box h1 {
  color: var(--grey-col);
  display: inline-block;
  border-bottom: 1px solid var(--grey-col);
  margin: 20px;
}

.info_box h2 {
  color: var(--grey-col);
  border-bottom: none;
}

#filter {
  margin-inline-start: 5px;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-block: 30px;
  grid-gap: 20px;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.imageMain {
  width: 100%;
}

.grid_cont1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.grid_cont1 h4 {
  color: var(--green-col);
}

.grid_cont2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

article {
  padding-inline: 5px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1100px) {
  .product_splash .splash_title1 {
    font-size: 4rem;
  }
}
